.app {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    height: 100vh;
}

.header {   
    width: 500px;
    display: flex;
    justify-content: space-between;
}

form {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

input {
    height: 30px;
    border-bottom: solid black 1px;
    outline: none;
}


.sub_field {
    width: 40px;
}

.hours_field {
    height: 22px;
    padding: 0;
    border-left: none;
    border-top: none;
    border-right: none;
    border-left: solid black 1px;
}

.time_field {
    height: 22px;
    width: 100px;
    padding: 0;
    border-left: solid black 1px;
    border-top: none;
    border-right: solid black 1px;
}

.task_field {
    height: 20px;
    width: 300px;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 5px;
    border-left: none;
    border-top: none;
    border-right: none;
}

.submit {
    height: 22px;
    border: solid black 1px;
    background: none;

}

.hours_field_output {
    width: 40px;
    border-right: solid black 1px;
}

.time_field_output {
    width: 100px;
    border-right: solid black 1px;
}

.task_field_output {
    width: 300px;
}


.printed_tasks {
    width: 540px;
}

.printed_tasks div {
    display: inline-block;
    border-bottom: solid black 1px;
}