.app {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    height: 100vh;
}

.header {   
    width: 400px;
    display: flex;
    justify-content: space-between;
}

form {
    margin-bottom: 15px;
}

input {
    height: 30px;
}

.task_field {
    width: 300px;
    font-size: 12pt;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid black 1px;
    outline: none;
    padding: 0;
    margin: 0;
    height: 15px;
    padding-bottom: 2px;
    padding-left: 5px;
}

.sub_field {
    width: 40px;
    border-top: none;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
}

.hours_field {
    width: 40px;
    border-right: none;
    border-left: none   ;
    border-bottom: solid black 1px;
}

.apt_field {
    width: 100px
}

.printed_task {
    width: 400px;
}

.printed_task div {
    display: inline-block;
}